


* {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

html {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: rgb(239, 247, 211);
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, rgb(70, 90, 44), #93ac39);
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 4em;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

/* Barra laterale */
.navb {
  z-index: 1;
  top: 0;
  position: sticky;
  height: 2vh;
  background-image: linear-gradient(to right, rgb(70, 90, 44), #93ac39);
  color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(97, 51, 20);
}

a {
  color: white;
}

.naventry {
  overflow-x: hidden;
  width: 30vw;
  text-align: center;
}

main {
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}

main img {
  max-height: 100%;
  max-width: 80%;
}

#img1 {
  max-width: 80%;
  max-height: 80%;
}

/* Footer */
footer {

  background-image: linear-gradient(to right, rgb(70, 90, 44), #93ac39);
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border-top: 2px solid rgb(97, 51, 20);
}
.hidden {
  visibility: hidden;
}

.animated {
  animation: 1s ease-in-out 0.1s 1 normal forwards running fadeDown;
}

h2 {
  font-size: 3em;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

@keyframes fadeDown {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}



.hover-underline-animation {
  display: inline-block;
  position: relative;

  text-decoration: none;
  padding-bottom: 3px;

}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: center;
  transition: transform 0.25s ease-out;
  background-color: rgb(97, 51, 20);
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

.Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

p {
  padding-left: 30px;
  padding-right: 30px;
  text-align: left ;
  line-height: 1.5em;
  font-size: 1.12169420em;
}

.Elenc{
  text-align: left;
  font-size: 1.12169420em;
  line-height: 1.5em;
}

section {
  padding-top: 75px;
}

.ContainerVideo {
  width: 30vw;
}
